include README.md
recursive-include octoprint_Dragon500TouchUI/templates *
recursive-include octoprint_Dragon500TouchUI/config *
recursive-include octoprint_Dragon500TouchUI/firmware *
include versioneer.py
include octoprint_Dragon500TouchUI/_version.py